
<div class="container">
  <h1>Adding a new meeting</h1>


  <%= simple_form_for [@mentor, @meeting] do |f| %>
    <%= f.input :start_time  %>
    <%= f.input :end_time %>
    <%= f.input :location %>
    <%= f.submit "adding it" %>
  <% end %>

</div>


