<h1>Meetings#new</h1>
<p>Find me in app/views/meetings/new.html.erb</p>

<%= simple_form_for [@mentor, @meeting] do |f| %>
  <%= f.input :start_time  %>
  <%= f.input :end_time %>
  <%= f.input :location %>
  <%= f.submit "adding it" %>
<% end %>


