<div class="container">
  <div class="show-page">
    <div class="mentor-info">
      <% begin %>
        <%= cl_image_tag @user.photo.key, class: "avatar-show" %>
      <% rescue %>
        <%= cl_image_tag @image, class: "avatar-show" %>
      <% end %>
      <h2><%= @user.name %></h2>
      <div class="icons-user">
        <a href=<%= @user.linkedin_account %>><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
      </div>
      <p><%= @user.description %></p>
      <h2>Skills</h2>
        <% @user.experiences.sort_by(&:years_of_experience).reverse.each do |experience| %>
        <div class="experiences">
          <div class="experience-title">
            <p><%= experience.skill.name %></p>
          </div>
          <div class="experience-years">
            <p><%= experience.years_of_experience %></p>
          </div>
        </div>
      <% end %>
      <% if @user == current_user %>
        <h1><%= link_to "Edit my profile", edit_user_registration_path(@user), {class: "btn btn-primary"}  %></h1>
        <h1><%= link_to "Add a new skill", new_user_experience_path(@user), {class: "btn btn-primary"}  %></h1>
      <%  else %>
        <h1><%= link_to "Book this person", new_user_meeting_path(@user), {class: "btn btn-primary"}  %></h1>
      <% end %>
    </div>
    <div class="map-review">
      <div
      id="map"
      style="width: 700px;
      height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
      <p><%= @user.name %>'s prefered location</p>


    <h2>Reviews</h2>
      <% if @user == current_user %>
      <%  else %>

          Leave a review for <%= @user.name %>
          <p><%= link_to "Add a review", new_user_review_path(@user), {class: "buttom"}  %><p>

      <% end %>
        <% @user.mentor_reviews.each do |review| %>
          <div class="notification-reviews">
              <% begin %>
                <%= cl_image_tag review.mentee.photo.key, class: "avatar" %>
              <% rescue %>
                <%= cl_image_tag @image, class: "avatar" %>
              <% end %>
            <div class="notification-content">
              <p><small><% review.rate.times do  %>
                    <i class="fas fa-star"></i>
                  <% end %> </small></p>
              <p><%= review.content %></p>
            </div>
          </div>
          <% end %>


    </div>
  </div>
</div>
