<div class="header" style="">
  <div class="text">
    <h1 class="text-center">Welcome to <strong>Oraculi</strong></h1>
    <h6 class="text-center">Use your talents to their <strong>full potential</strong>!</h6>
  </div>

  <div class="search">
    <div class="input">
      <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a skill"
      %>
      </div>

      <div>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <h1 class="text-center">Mentors in Montréal</h1>
  <div class="cards">
    <% @users.each do |user| %>
      <% if (user != current_user) %>
        <div class="card-avatar">
            <%= link_to user_path(user) do %>
              <%= cl_image_tag user.photo.key, class: "avatar-extra" %>
            <% end %>
          <div class="card-avatar-infos">
              <p> <%= user.name  %></p>
            <% experience = user.experiences.sort_by(&:years_of_experience).last %>
            <p><%= experience.years_of_experience %> years of experience in <%= experience.skill.name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

