<div class="header-background">
  <div class="header">
    <div class="text">
      <h1 class="text-center">Welcome to <strong>Oraculi</strong></h1>
      <h6 class="text-center">Use your talents to their <strong>full potential</strong>!</h6>
    </div>

    <div class="search">
      <div class="input">
      <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a skill"
      %>
      </div>

      <div>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-center" style="margin-top: 50px; margin-bottom: 100px">Find the <strong>best</strong> mentors near you</h1>
  <div class="cards">
    <% @users.each do |user| %>
      <% if (user != current_user and user != @users[0]) %>
        <div class="card-avatar">
            <%= link_to user_path(user) do %>
              <% begin %>
                <%= cl_image_tag user.photo.key, class: "avatar-extra" %>
              <% rescue %>
                <%= cl_image_tag @image, class: "avatar-extra" %>
              <% end %>
            <% end %>
          <div class="card-avatar-infos">
            <div class="avatar-name">
              <p style="margin-top: 20px;"> <strong><%= user.name  %></strong></p>
            </div>
            <div class="avatar-experience">
              <% experience = user.experiences.sort_by(&:years_of_experience).last %>
              <% begin %>
                <p><%= experience.years_of_experience %> years of experience in <%= experience.skill.name %></p>
              <% rescue %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
